body {
    font-family: Arial, Helvetica, sans-serif;  
}
ol {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.Topics-ol a{
    color: #1236ff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.oneContentCssClass {
    height: auto;
    transition: height 0.1s;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    
}
.oneContentCssClass h2 {
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
}
.oneContentCssClass p {
    width: 800px;
    padding-left: 10px;
}




.hiddencontent {
    max-height: 60px;
    overflow: hidden;
    transition: max-height 0.7s ;/*Because max height is soo much bigger , there is a slight delay. So i made this transition  faster*/
}

/* Visible content */
.visibleContent {
    max-height: 10000px; /* Adjust based on content size */
    transition: max-height 3s ;
}

